head
  title Todo List

body
  div.container
    header
      h1 Todo List

      label.hide-completed
        input(type="checkbox" checked=hideCompleted)
        | Hide Completed Tasks

      form.new-task
        input(type="text" name="text" placeholder="Type to add new tasks")

    ul
      each tasks
        +task

template(name="task")
  li(class="{{#if checked}}checked{{/if}}")
    button.delete &times;
    input(type="checkbox" checked=checked class="toggle-checked")
    span.text= text
